<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->    
    <div fxFlex.gt-lg="66" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <div class="cards-set">
            <div class="card">
              <div class="heading" style="background-color: #f7b734; background-image: url('assets/images/imagesolded.png');  background-repeat: no-repeat; background-position: right;"><h1>43</h1></div>
              <div class="content"><h1>Elders</h1></div>
            </div>
            <!-- <div class="card">
              <div class="heading"><h1>Hello</h1></div>
              <div class="content"><p>This is a text</p></div>
            </div>
            <div class="card">
              <div class="heading" style="background-color: #d23f31"></div>
              <div class="content"><p>This is a text</p></div>
            </div> -->
        </div>
    </div>
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="card">
            <div class="heading" style="background-color: #4285f4; background-image: url('assets/images/staffi.png');  background-repeat: no-repeat; background-position: right;"><h1>13</h1></div>
            <div class="content"><h1>Staff</h1></div>
          </div>
    </div>
    <!-- column --> 
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
        <div class="card">
            <div class="heading" style="background-color: #ff2222; background-image: url('assets/images/visitors.png');  background-repeat: no-repeat; background-position: right;"><h1>3</h1></div>
            <div class="content"><h1>Visitors</h1></div>
          </div>
    </div>
    <!-- column --> 
</div>
